<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mysite</title>
</head>

<Body>
    <h1>Template is working :)</h1>
    <h1>The query parameter is name = <%= name%> </h1>
</Body>

</html>