<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mysite</title>
</head>

<Body>
    <ul>
        <!--forEach entry "crypto" in the array "cryptoData", apply the function that creates a list item-->
        <% cryptoData.forEach(function(crypto) { %>
        <li> <%= crypto.code %> - <%= crypto.name %> :
            <% if (crypto.is_crypto) { %>
            O
            <% } else { %>
            X
            <% } %>
        </li>
        <% }); %>
    </ul>
</Body>

</html>